@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Azeret Mono";
    font-optical-sizing: auto;
    width: 100%;
    margin: auto;
   background-color: rgba(0, 255, 195, 0.033);
}

/* Header style css start here */
header{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;

}
header h1{
    font-size: 28px;
    font-weight: 800;
}
header button {
    color: rgb(13, 19, 33);
    padding: 4px 8px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}

/* Banner section design start here */
.banner_section{
    background-image: url("./assets//hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px 0;
}
.banner_content{
    width: 98%;
    margin: auto;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner_content h1{
    font-size: 44px;
    line-height: 60px;
    font-weight: 800;
}
.banner_content p{
    font-size: 16px;
    font-weight: 400;
    padding: 0 50px;
    line-height: 25px;
}
.banner_content button{
    background-color: rgb(13, 19, 33);
    color: white;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
/* Banner section design end  */

/* Why Web Development section design start here */
.why_dev_section{
    width: 98%;
    margin: 0 auto;
}

.why_dev_content{
    /* margin: 10px; */
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.212);
    align-items: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.why_dev_content h2{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
.why_dev_content>p{
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.coding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}
.coding_middle{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}
.coding_content{
    /* width: 98%; */
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.coding_content h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 36px;
}
.coding_content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;}
.coding_content button{
    width: 134px;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
/* Why Web Development section design end */

/* My Inspiration section design start here */
.inspiration_section{
    width: 98%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.inspiration_section h2{
    font-size: 32px;
    font-weight: 800;
}
.inspiration_section p{
    width: 95%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.inspiration_section .video{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    background-color: white;
}

.inspiration_section .video iframe {
    border-radius: 16px;
}
/* My Inspiration section design end */

/* Target section start design here */
.target_section{
    width: 98%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.target_section h2{
    font-size: 32px;
    font-weight: 800;
}
.target_section > p{
    width: 95%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.current_target{
    display:flex;
    flex-direction: row;
    gap: 25px;
}
.current_content{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    border-radius: 16px;
    transition: transform 1s ease;
    box-shadow: 0px 0px 20px 0px rgba(63, 50, 120, 0.588);
    
}
.current_content:hover{
    transform: scale(1.02);
}
.html{
    background: rgba(255, 75, 30, 0.122);
}
.css{
    background: rgba(0, 77, 232, 0.12);
}
.js{
    background: rgba(255, 221, 0, 0.112);
}
.current_content > img{
    width: 60px;
    height: 60px;
}
.contents{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.contents h2{
    font-size: 24px;
    font-weight: 800;}
.contents p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}
.contents a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
.next_target{
    display:flex;
    flex-direction: column;
    gap: 25px;
}
.next_content{
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    transition: transform 1s ease;
    box-shadow: 0px 0px 20px 0px rgba(120, 50, 50, 0.588);
}
.next_content:hover {
    transform: scale(1.01);
}
.next_content > img{
    width: 110px;
    height: 110px;
}
/* Target section design end */

/* Support section design start here */
.support_section{
    width: 98%;
    padding: 64px 0;
    margin: 80px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('./assets/handshake.jpg') no-repeat center center;
    background-size: cover;
   
}

.support_section > h2{
    font-size: 32px;
    font-weight: 800;
    color: white;
}
.support_section > p{
    width: 852px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    color: white;
}
.inputs{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.inputs input{
    width: 300px;
    background-color: white;
    border-radius: 5px;
    border:none;
    padding-left: 20px;
}
.inputs > button {
    background-color: white;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
/* Support section design end */

/* Footer design start here */
.footer_section{
    background: rgba(13, 19, 33, 0.204);
}
.footer_content{
    width: 98%;
    padding: 30px 0 ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_content h3{font-size: 20px;
    font-weight: 600;}
.footer_content .media{
    display: flex;
   align-items: center;
   gap: 10px;
    
}
.arrow_top{
    width: 30px;
    height: 30px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: rgb(72, 174, 72);;
}
/* Footer design end */